function Main.draw 1
push constant 16384
push constant 0
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1536
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1568
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1600
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1632
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1664
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1696
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1728
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1760
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1792
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1824
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1856
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1888
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1920
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1952
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1984
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2016
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1153
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1217
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1249
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1281
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1441
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1473
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1505
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1537
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1569
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1601
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1633
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1665
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1697
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1729
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1761
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1793
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1825
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1857
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1889
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1921
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1953
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1985
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2017
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.main 0
call Main.draw 0
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
return
