function Game.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
call Anya.new 0
pop this 0
call Obstacles.new 0
pop this 1
call Score.new 0
pop this 2
call Peanuts.new 0
pop this 3
push pointer 0
return
function Game.wahwah 0
push argument 0
pop pointer 0
call Graphics.QQ 0
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
call Peanuts.new 0
pop this 3
call Obstacles.new 0
pop this 1
call Anya.new 0
pop this 0
push constant 0
return
function Game.interact 6
push argument 0
pop pointer 0
push this 0
push constant 0
call Anya.show 2
pop temp 0
push this 1
push constant 0
call Obstacles.show 2
pop temp 0
push this 2
push constant 0
call Score.show 2
pop temp 0
push this 3
push constant 0
call Peanuts.show 2
pop temp 0
push this 1
call Obstacles.move 1
pop temp 0
push this 3
call Peanuts.move 1
pop temp 0
push this 0
call Anya.getX1 1
pop local 4
push this 0
call Anya.getY1 1
pop local 5
push this 0
push argument 1
call Anya.move 2
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Game.wahwah 1
pop temp 0
label IF_FALSE0
push this 1
push this 0
push local 4
call Obstacles.collide 3
pop local 1
push local 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Game.wahwah 1
pop temp 0
label IF_FALSE1
push argument 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push this 0
call Peanuts.collide 2
pop local 2
goto IF_END2
label IF_FALSE2
push constant 0
pop local 2
label IF_END2
push this 2
push local 0
push local 1
or
push local 2
push argument 2
and
call Score.update 3
pop local 3
push this 3
push constant 1
call Peanuts.show 2
pop temp 0
push this 1
push constant 1
call Obstacles.show 2
pop temp 0
push this 2
push constant 1
call Score.show 2
pop temp 0
push this 0
push constant 1
call Anya.show 2
pop temp 0
push local 3
return
function Game.opening 1
push argument 0
pop pointer 0
call Graphics.startGame 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 128
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Graphics.go 0
pop temp 0
push constant 400
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.endGame 0
push argument 0
pop pointer 0
call Graphics.QQ 0
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Game.run 6
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 5
push pointer 0
call Game.opening 1
pop temp 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 3
push local 3
push constant 32
eq
push local 3
push constant 133
eq
or
push local 3
push constant 132
eq
or
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 4
goto IF_END0
label IF_FALSE0
push local 3
pop local 4
label IF_END0
push local 3
push constant 128
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 2
goto IF_END1
label IF_FALSE1
push constant 0
pop local 2
label IF_END1
push pointer 0
push local 4
push local 2
call Game.interact 3
pop local 1
push local 5
push constant 1
add
pop local 5
push local 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Game.endGame 1
pop temp 0
label IF_FALSE2
push constant 80
push constant 2000
push local 5
sub
push constant 10
call Math.divide 2
call Utils.max 2
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
