function Obj.new 1
push constant 5
call Memory.alloc 1
pop pointer 0
call Random.binary 0
pop local 0
push argument 0
pop this 4
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 0
push this 0
push constant 31
add
pop this 2
push constant 199
pop this 3
push constant 0
pop this 1
label IF_FALSE0
push this 4
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
pop this 0
push this 0
push constant 31
add
pop this 2
push constant 192
pop this 1
push constant 255
pop this 3
label IF_FALSE1
push this 4
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
pop this 0
push this 0
push constant 63
add
pop this 2
push local 0
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 192
pop this 1
push constant 255
pop this 3
goto IF_END3
label IF_FALSE3
push constant 136
pop this 1
push constant 199
pop this 3
label IF_END3
label IF_FALSE2
push pointer 0
return
function Obj.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Obj.getType 0
push argument 0
pop pointer 0
push this 4
return
function Obj.getX 0
push argument 0
pop pointer 0
push this 0
push argument 1
sub
return
function Obj.getY 0
push argument 0
pop pointer 0
push this 1
return
function Obj.getX1 0
push argument 0
pop pointer 0
push this 2
push argument 1
sub
return
function Obj.getY1 0
push argument 0
pop pointer 0
push this 3
return
function Obj.word 0
push argument 0
pop pointer 0
push argument 2
push constant 32
call Math.multiply 2
push argument 1
push constant 16
call Math.divide 2
add
return
function Obj.draw 0
push argument 0
pop pointer 0
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push argument 1
sub
push this 1
call Obj.word 3
call Graphics.obstacleUp 1
pop temp 0
label IF_FALSE0
push this 4
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 0
push argument 1
sub
push this 1
call Obj.word 3
call Graphics.obstacleDown 1
pop temp 0
label IF_FALSE1
push this 4
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 0
push argument 1
sub
push this 1
call Obj.word 3
call Graphics.peanut 1
pop temp 0
label IF_FALSE2
push constant 0
return
function Obj.erase 0
push argument 0
pop pointer 0
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push argument 1
sub
push this 1
call Obj.word 3
call Graphics.eraseObsUp 1
pop temp 0
label IF_FALSE0
push this 4
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 0
push argument 1
sub
push this 1
call Obj.word 3
call Graphics.eraseObsDown 1
pop temp 0
label IF_FALSE1
push this 4
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 0
push argument 1
sub
push this 1
call Obj.word 3
call Graphics.eraseBig 1
pop temp 0
label IF_FALSE2
push constant 0
return
