function Random.setSeed 0
push argument 0
pop static 0
push constant 0
return
function Random.rand 0
push static 0
push constant 1
add
push constant 10007
call Math.multiply 2
pop static 0
push static 0
return
function Random.binary 1
call Random.rand 0
pop local 0
push local 0
push constant 2
call Utils.modulo 2
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
goto IF_END0
label IF_FALSE0
push local 0
return
label IF_END0
